* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

header {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #521313;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    
}


.body {
    height: 100%;
    width: 100%;
    font-size: x-large;
    background-clip: content-box;
    background-color: darkorange;
}

.encabezado {

    h2 {
        background-color: beige;
        font-family: "Oswald", sans-serif;
        font-size: 30px;

    }

    .h2 titulo2 {
        background-color: aliceblue;
        font-family: "Lobster", sans-serif;

    }


}

.navbar {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    background-color: aliceblue;
}
a:link{
    background-color: blue;
}
a:visited{
    background-color: chocolate;
}
a:hover{
    background-color:aliceblue
    
}


.navbar li a {
    text-decoration: none;
    color: #521313;
    font: size 25px;

}


.galeria img {
    width: 100%;
    height: 100%;
    max-height:500px;
}


.footer {

        display: flex;
        justify-content: center;
        padding: 10px;
        border: 30PX solid font-family "Oswald", sans-serif;
        background-color : #521313;}
/*pagina2 nosotros*/
.nosotros img {
    width: 20%;
    height: 20%;
}
.nosotros {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}

/*pagina3 menu*/

/*Pagina4 golosos*/
.galeria{
    background-color: blanchedalmond;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6";
    grid-gap:"row-gap";
    background-color: blueviolet;
    

.item1{
        grid-area: item1;   
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
        
    }
    .item4{
        grid-area: item4;
    }
    .item5{
        grid-template-columns: item5;
    }
    .item6{
        grid-area: item6;
    }
}

/*pagina5-contacto*/
.main-contacto{

    font-family: "Oswald", sans-serif;
    font-size: 20px;
    justify-content: center;
color: aliceblue;
}


/* responsive*/

@media(max-width:1024px) {
    header {
        background-color: blue;
        justify-content: space-around;
    }
    .navbar {
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 768px) and (orientation:landscape) 
{
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 425px) {
    .navbar {
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 10px ;
        align-items:center;
    }
}


